In [10]:
#Suppose that you want to know the square root of n. If you start with almost any approximation,
#you can compute a better approximation (closer to the actual answer) 
#with the following formula:   better = (approx + n/approx)/2
#Write a program that gets a number from the user and finds its square root using this approach.

number=float(input("enter number: "))
found=False
aprox=5.0

while found==False:
    result=0
    result=(aprox+(number/aprox))/2
    square=result*result
    square=round (square,5)
    if square==number:
        found=True
    #print ( result)
    aprox=result
print ("\nthe square root of ", number, "is: " , "%.4f" % result)

enter number: 40

the square root of  40.0 is:  6.3246

In [1]:
#Get an integer from the user.
#Display whether this is a prime number or not.
number=int(input("Enter  number only: "))
    
two=2
result=1    
while result!=0 and two<number:  
    result=number%two   
    if result==0:
        print("number is not a prime number.")
    two+=1   
    
if result==1:
    print("number is prime")

Enter  number only: 121
number is not a prime number.

In [25]:
#Get an integer from the user
#Display all the prime numbers up to the (and including) number entered by the user.

number=int(input("Enter  number : "))
print("List of of the prime number predeceasing (and including) number ", number,":")
print("-"*70)
for i in range(number):
    newnumber=number
    two=2
    result=1
    prime=False
    while prime==False and two<newnumber:
        result=newnumber%two   
        if result==0:
            prime=True
        two+=1   
    
    if result==1:
        print(newnumber,end=" , ")
    
    number-=1

Enter  number : 100
List of of the prime number predeceasing (and including) number  100 :
----------------------------------------------------------------------
97 , 89 , 83 , 79 , 73 , 71 , 67 , 61 , 59 , 53 , 47 , 43 , 41 , 37 , 31 , 29 , 23 , 19 , 17 , 13 , 11 , 7 , 5 , 3 , 2 , 1 ,

In [26]:
#Get the user to enter a year. Check if this year is a leap year or not.
#Also display which rule that you checked held true or not to decide whether this is a leap year or not.
year=int(input("enter year: "))
result=year%4
result2=None
result3=None
if result==0:
    result2=year%100
    if result2==0:
        result3=year%400
        if result3==0:
            print(year, " is a leap year")
        else:
            print(year, " is not a leap year")
    else:
        print(year, " is a leap year")
else:
    print(year, " is not a leap year")

enter year: 1456
1456  is a leap year

In [41]:
#Get the user to enter a year. List all the leap years from that year till 2017.

year=int(input("enter year: "))
print("Here is a list of all leap years from ",year, " till 2017:")
print("-"*70)
newyear=year
for i in range (2017-year):
    notLeap=False
    result=newyear%4
    result2=None
    result3=None
    if result==0:
        result2=newyear%100
        if result2==0:
            result3=newyear%400
            if result3==0:
                print(newyear, end=", ")
            notLeap=True
        else:
            print(newyear, end=", ")
    notLeap=True
    newyear+=1

enter year: 1908
Here is a list of all leap years from  1908  till 2017:
----------------------------------------------------------------------
1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016,

In [1]:
#Get the user to enter a number n up to which s/he needs triangular numbers. 
#Then print a table going from 0 to n along with the corresponding triangular numbers.
#A triangular number or triangle number counts objects arranged in an equilateral triangle, 
#as in the diagram on the right. The nth triangular number is the number of dots composing a triangle 
#with n dots on a side, and is equal to the sum of the n natural numbers from 1 to n.

number=int(input("enter number you need triangular number for: "))


triangularNumber=(number*(number+1))/2
print("your triangular number is: ",int(triangularNumber))

print("\nnumber:\t\t triangular number:")
n=1
while n<=number:
    triangularNumber=(n*(n+1))/2
    print(n, "\t\t\t", int(triangularNumber ))
    n+=1

enter number you need triangular number for: 45
your triangular number is:  1035

number:		 triangular number:
1 			 1
2 			 3
3 			 6
4 			 10
5 			 15
6 			 21
7 			 28
8 			 36
9 			 45
10 			 55
11 			 66
12 			 78
13 			 91
14 			 105
15 			 120
16 			 136
17 			 153
18 			 171
19 			 190
20 			 210
21 			 231
22 			 253
23 			 276
24 			 300
25 			 325
26 			 351
27 			 378
28 			 406
29 			 435
30 			 465
31 			 496
32 			 528
33 			 561
34 			 595
35 			 630
36 			 666
37 			 703
38 			 741
39 			 780
40 			 820
41 			 861
42 			 903
43 			 946
44 			 990
45 			 1035

In [43]:
#Print multiplication tables for 1 through 12.

num1=1
for row in range(12): 
    num2=1
    for col in range (1,13):
        print ( "% 5.0f" % (num1*num2) ,end="")
        num2+=1
    print()   
    num1+=1

    1    2    3    4    5    6    7    8    9   10   11   12
    2    4    6    8   10   12   14   16   18   20   22   24
    3    6    9   12   15   18   21   24   27   30   33   36
    4    8   12   16   20   24   28   32   36   40   44   48
    5   10   15   20   25   30   35   40   45   50   55   60
    6   12   18   24   30   36   42   48   54   60   66   72
    7   14   21   28   35   42   49   56   63   70   77   84
    8   16   24   32   40   48   56   64   72   80   88   96
    9   18   27   36   45   54   63   72   81   90   99  108
   10   20   30   40   50   60   70   80   90  100  110  120
   11   22   33   44   55   66   77   88   99  110  121  132
   12   24   36   48   60   72   84   96  108  120  132  144

In [33]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. 
#The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.
#Also, show your output in this format:   3 + 5 + 6 + 9 = 23
number=4
stop=False
total=0
print("3",end="")
while number<1000:
    if number%3==0 or number%5==0:
        print(" +",number,end="")
        
        total+=number
    else:
        stop==True
    number+=1
print ("=",total)

3 + 5 + 6 + 9 + 10 + 12 + 15 + 18 + 20 + 21 + 24 + 25 + 27 + 30 + 33 + 35 + 36 + 39 + 40 + 42 + 45 + 48 + 50 + 51 + 54 + 55 + 57 + 60 + 63 + 65 + 66 + 69 + 70 + 72 + 75 + 78 + 80 + 81 + 84 + 85 + 87 + 90 + 93 + 95 + 96 + 99 + 100 + 102 + 105 + 108 + 110 + 111 + 114 + 115 + 117 + 120 + 123 + 125 + 126 + 129 + 130 + 132 + 135 + 138 + 140 + 141 + 144 + 145 + 147 + 150 + 153 + 155 + 156 + 159 + 160 + 162 + 165 + 168 + 170 + 171 + 174 + 175 + 177 + 180 + 183 + 185 + 186 + 189 + 190 + 192 + 195 + 198 + 200 + 201 + 204 + 205 + 207 + 210 + 213 + 215 + 216 + 219 + 220 + 222 + 225 + 228 + 230 + 231 + 234 + 235 + 237 + 240 + 243 + 245 + 246 + 249 + 250 + 252 + 255 + 258 + 260 + 261 + 264 + 265 + 267 + 270 + 273 + 275 + 276 + 279 + 280 + 282 + 285 + 288 + 290 + 291 + 294 + 295 + 297 + 300 + 303 + 305 + 306 + 309 + 310 + 312 + 315 + 318 + 320 + 321 + 324 + 325 + 327 + 330 + 333 + 335 + 336 + 339 + 340 + 342 + 345 + 348 + 350 + 351 + 354 + 355 + 357 + 360 + 363 + 365 + 366 + 369 + 370 + 372 + 375 + 378 + 380 + 381 + 384 + 385 + 387 + 390 + 393 + 395 + 396 + 399 + 400 + 402 + 405 + 408 + 410 + 411 + 414 + 415 + 417 + 420 + 423 + 425 + 426 + 429 + 430 + 432 + 435 + 438 + 440 + 441 + 444 + 445 + 447 + 450 + 453 + 455 + 456 + 459 + 460 + 462 + 465 + 468 + 470 + 471 + 474 + 475 + 477 + 480 + 483 + 485 + 486 + 489 + 490 + 492 + 495 + 498 + 500 + 501 + 504 + 505 + 507 + 510 + 513 + 515 + 516 + 519 + 520 + 522 + 525 + 528 + 530 + 531 + 534 + 535 + 537 + 540 + 543 + 545 + 546 + 549 + 550 + 552 + 555 + 558 + 560 + 561 + 564 + 565 + 567 + 570 + 573 + 575 + 576 + 579 + 580 + 582 + 585 + 588 + 590 + 591 + 594 + 595 + 597 + 600 + 603 + 605 + 606 + 609 + 610 + 612 + 615 + 618 + 620 + 621 + 624 + 625 + 627 + 630 + 633 + 635 + 636 + 639 + 640 + 642 + 645 + 648 + 650 + 651 + 654 + 655 + 657 + 660 + 663 + 665 + 666 + 669 + 670 + 672 + 675 + 678 + 680 + 681 + 684 + 685 + 687 + 690 + 693 + 695 + 696 + 699 + 700 + 702 + 705 + 708 + 710 + 711 + 714 + 715 + 717 + 720 + 723 + 725 + 726 + 729 + 730 + 732 + 735 + 738 + 740 + 741 + 744 + 745 + 747 + 750 + 753 + 755 + 756 + 759 + 760 + 762 + 765 + 768 + 770 + 771 + 774 + 775 + 777 + 780 + 783 + 785 + 786 + 789 + 790 + 792 + 795 + 798 + 800 + 801 + 804 + 805 + 807 + 810 + 813 + 815 + 816 + 819 + 820 + 822 + 825 + 828 + 830 + 831 + 834 + 835 + 837 + 840 + 843 + 845 + 846 + 849 + 850 + 852 + 855 + 858 + 860 + 861 + 864 + 865 + 867 + 870 + 873 + 875 + 876 + 879 + 880 + 882 + 885 + 888 + 890 + 891 + 894 + 895 + 897 + 900 + 903 + 905 + 906 + 909 + 910 + 912 + 915 + 918 + 920 + 921 + 924 + 925 + 927 + 930 + 933 + 935 + 936 + 939 + 940 + 942 + 945 + 948 + 950 + 951 + 954 + 955 + 957 + 960 + 963 + 965 + 966 + 969 + 970 + 972 + 975 + 978 + 980 + 981 + 984 + 985 + 987 + 990 + 993 + 995 + 996 + 999= 233165

In [36]:
#Each new term in the Fibonacci sequence is generated by adding the previous two terms. 
#By starting with 1 and 2, the first 10 terms will be: 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, …
#By considering the terms in the Fibonacci sequence whose values do not exceed 1000, find the sum of the even-valued terms.
grandTotal=0
num1=1
num2=1
total=1
while total<1000:
    print(total, end=", ")
    total=num1+num2
    num1=num2
    num2=total
    if total%2==0:
        grandTotal+=total
print (" \n\nThe total of all even-valued terms is: ", grandTotal)

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987,

The total of all even-valued terms is:  798

In [37]:
num1=1
num2=1
total=1
while total<100:
    print(total, end=", ")
    total=num1+num2
    num1=num2
    num2=total

1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

In [2]:
#9 extra
#Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n).
#If d(a) = b and d(b) = a, where a ≠ b, then a and b are an amicable pair and each of a and b are called amicable numbers.
#For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. 
#The proper divisors of 284 are 1, 2, 4, 71 and 142; so d(284) = 220.
#Evaluate all pairs of amicable numbers under 1000.

#it works but takes some time.... 3 minutes for maxNumber=1000, even longer for 15000
n=1
maxNumber=1500
while n<maxNumber:       
    
    count=1
    dn=0
    while count<n:
        result=n%count
        if result==0:
            dn+=count
        count+=1
    #print (n, dn)
        
    m=1
    while m<maxNumber:
        count2=1
        dm=0
        while count2<m:
            result2=m%count2
            if result2==0:
                dm+=count2       
            count2+=1
            
               
        #print("n= ",n,"dn=", dn, "m=",m, "dm=",dm)
        if dn==m and dm==n and n!=dn:
            print ("amicable numbers below ",maxNumber," are: ", n," and " ,m)
        m+=1
     
    n+=1
print("end")

amicable numbers below 1000 are:  220  and  284
amicable numbers below 1000 are:  284  and  220
amicable numbers below 1000 are:  1184  and  1210
amicable numbers below 1000 are:  1210  and  1184
end

In [1]:
#9 faster version (much faster...)
maxNumber=20000
n=1
while n<maxNumber:
    count=1
    dn=0
    while count<n:
        result=n%count
        if result==0:
            dn+=count
        count+=1
    #print ("n=",n,"dn=",dn)         
    m=dn
    count2=1
    dm=0
    while count2<m:
        result2=m%count2
        if result2==0:
            dm+=count2       
        count2+=1
            
    if dn==m and dm==n and n!=dn:
            print ("amicable numbers below 1000 are: ", n," and " ,m)
    n+=1
print("****END****")

amicable numbers below 1000 are:  220  and  284
amicable numbers below 1000 are:  284  and  220
amicable numbers below 1000 are:  1184  and  1210
amicable numbers below 1000 are:  1210  and  1184
amicable numbers below 1000 are:  2620  and  2924
amicable numbers below 1000 are:  2924  and  2620
amicable numbers below 1000 are:  5020  and  5564
amicable numbers below 1000 are:  5564  and  5020
amicable numbers below 1000 are:  6232  and  6368
amicable numbers below 1000 are:  6368  and  6232
amicable numbers below 1000 are:  10744  and  10856
amicable numbers below 1000 are:  10856  and  10744
amicable numbers below 1000 are:  12285  and  14595
amicable numbers below 1000 are:  14595  and  12285
amicable numbers below 1000 are:  17296  and  18416
amicable numbers below 1000 are:  18416  and  17296
****END****

In [ ]:
#10 extra
#The decimal number, 585 = 1001001001 (binary), is palindromic in both bases.
#Find all numbers under 1000 that are palindromic in base 10 and base 2.
#(Please note that the palindromic number, in either base, may not include leading zeros.)